@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300;400&display=swap');

*{
    --dark-gray: #222323;
    --purple: #a238ff;
    --pink: #efd2ef;
    --active: #a56adb;
    --hover: #e0bfff;
    --shadow: #a238ff;
    /*Transiciones de hover mas suaves*/
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a:link    { color: white; }
a:visited { color: white; }
a:hover   { color: var(--purple); }
a:focus   { color: var(--pink); }
a:active  { color: var(--pink); transition: none;}

/* ---------- MENU ----------- */
nav a{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
nav a svg {
    margin-right: 10px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-gray);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav ul li{
    padding-right: 30px;
    font-weight: 400;
}

nav ul li:first-child a{
    color: var(--purple);
}
nav ul li a:hover{
    color: var(--hover);
}
nav ul li a:active{
    color: var(--active);
}

nav button {
    margin-right: 40px;
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: medium;
    box-shadow: var(--shadow) 0px 0px 15px;
}

nav button:hover{
    background-color: #e0bfff;
    color: var(--dark-gray);
    transform: scale(1.1);
}

nav button:active{
    background-color: #a56adb;
    color: var(--dark-gray);
    transition: none;
}

/* ---------- INICIO ----------- */

#inicio{
    background-image: url(../img/seccion1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: stretch;
    min-height: 100dvh;
}

#col-1{
    padding: 270px 100px;
}

#col-1 h2 {
    font-size: 1.5rem;
    margin-left: 5px;
}
#col-1 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-left: 5px;
    max-width: 500px;
}

#col-1 span{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

#col-1 span svg{
    margin-left: 20px;
}

#col-1 a img{
    width: 200px;
    height: 75px;
}

#col-1 a{
    background: none;
    border: none;
    cursor: pointer;
}
#col-1 a:active{
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}
#col-2 img{
    padding: 150px 55px;
    width: 300px;
    height: 550px;
}

#col-2 {
    position: relative;
}
#fp1 {
    position: relative;
    z-index: 2;
}

#fp2 {
    position: absolute;
    z-index: 1;
    transform: rotate(3deg);
    top: 0;
    left: 205px;
}

.cols {
    width: 50%;
}

/* ---------- CARACTERISTICAS ----------- */

#caracteristicas {
    background-image: url(../img/seccion2.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #222323;
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 150dvh;
}

#caracteristicas h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 75px;
}
#wrapper {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #020202;
    border-radius: 50px;
    box-shadow: #a238ff 0px 0px 15px 0px;
}

.box:nth-child(1) {
    grid-row: span 2;
}

.box:nth-child(2) {
    flex-direction: row;
}
.box:nth-child(2) img {
    flex-direction: row;
    padding: 20px;
    width: 35%;
}

.box:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
    margin-right: 10%;
}

.box:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
    margin-left: -10%;
}
.box:nth-child(3), .box:nth-child(4), .box:nth-child(5) {
    height: 300px;
    overflow: hidden;
}

.box:nth-child(1) img, .box:nth-child(3) img, .box:nth-child(5) img {
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.box:nth-child(1):hover img, .box:nth-child(3):hover img, .box:nth-child(5):hover img {
    width: 60%;
}

.box h3{
    font-size: 2em;
    margin: 20px 0px 20px 0px;
}

/* ---------- SUSCRIPCIONES ----------- */
#suscripciones {
    background-image: url(../img/seccion3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222323;
    padding-top: 75px;
    min-height: 100dvh;
}

#suscripciones h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 75px;
}

.price-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.price-card {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 550px;
    background-color: #090909;
    border-radius: 40px;
    border: 1px solid #a238ff;
    margin: 10px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    -webkit-box-shadow: #a238ff 0px 0px 15px 0px;
    -moz-box-shadow: #a238ff 0px 0px 15px 0px;
    box-shadow: #a238ff 0px 0px 15px 0px;
}

.price-card:nth-child(2){
    height: 600px;
}

.price-card h3{
    border-radius: 40px;
    background-color: #a238ff;
    padding: 50px 0;
    font-size: 2.5em;
    height: 50px;
}
.price-card ul li {
    padding: 20px 0;
    font-size: 1.2em;

}

.price-card ul li:nth-child(5) {
    font-size: 2em;
    font-weight: 900;
}

.price-card button{
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    border-radius: 20px;
    font-size: 1.1em;
    width: 180px;
    height: 60px;
    margin: 0 auto;
}

.price-card button:hover{
    cursor: pointer;
    background-color: rgb(119, 57, 176);
    border: none;
    border-radius: 20px;
    font-size: 1.1em;
    width: 180px;
    height: 60px;
    margin: 0 auto;
}

.price-card button:active{
    cursor: pointer;
    background-color: rgb(39, 0, 75);
    border: none;
    border-radius: 20px;
    font-size: 1.1em;
    width: 180px;
    height: 60px;
    margin: 0 auto;
    transition: all 0s linear;
}

.price-card:hover{
    transform: scale(1.02);
}

/* ---------- DESCARGA ----------- */
#descarga {
    background-color: #151515;
    padding-top: 75px;
    min-height: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#descarga h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 75px;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.button-container a:active{
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

#descarga img{
    width: 200px;
    height: 70px;
    display: flex;
}

/*----------- FOOTER --------------- */
footer{
    padding-top: 75px;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222323;
    min-height: 60dvh;
}

#newsletter {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#newsletter h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 75px;
}

#newsletter form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#newsletter form label[for="email"]{
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 0.8em;
    width: 100%;
}

#newsletter form input{
    flex-grow: 2;
    border: none;
    border-radius: 50px;
    padding: 28px;
    padding-right: 200px;
    background-color: #090909;
}

#newsletter form input:focus, input:active{
    outline: var(--purple) solid 2px;
}

#newsletter form button{
    border: none;
    border-radius: 50px;
    padding: 25px 35px 25px 35px;
    background-color: var(--purple);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: 18px;
    box-shadow: var(--shadow) 0px 0px 15px;
}

#newsletter form button:hover{
    background-color: #e0bfff;
    color: var(--dark-gray);
    transform: scale(1.05);
}

#newsletter form button:active{
    background-color: #b66cfa;
    color: var(--dark-gray);
    transition: all 0s linear;
}

/* Color de fondo y color de texto del autofill en chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 50px #090909 inset !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    -webkit-transition-delay: 9999s !important; /*Elimina la transicion de color*/
}

#footer-links{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 0.8em;
}
.footer-row {
    display: flex;
    justify-content: space-between;
}

#footer-links hr{
    margin: 20px 0px 20px 0px;
}
#social-links a{
    margin-right: 15px;
    padding: 15px;
}

#social-links a img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#social-links a img:active{
    transform: scale(0.9);
    cursor: pointer;
}

#policy-links a{
    margin-right: 15px;
    padding: 15px;
    line-height: 35px;
}

#payment-methods img{
    margin-right: 15px;
}