@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300;400&display=swap');

*{
    --dark-gray: #222323;
    --purple: #a238ff;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body{
    padding-top: 20px;
}

/* ---------- MENU ----------- */
nav a{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
nav a svg {
    margin-right: 10px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-gray);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav ul li{
    padding-right: 30px;
    font-weight: bold;
}

nav ul li:first-child a{
    color: #ab4bff;
}

nav button {
    margin-right: 40px;
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: medium;
    box-shadow: #a238ff 0px 0px 15px;
}
